<!doctype html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Service </title>
    <link rel="shortcut icon" href="~/assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/scss/bootstrap/scss/vendor/_rfs.scss" />
    <link rel="stylesheet" href="~/scss/theme/_responsive.scss" />
    <link rel="stylesheet" href="~/scss/theme-1.scss" />
    <link rel="stylesheet" href="~/scss/theme-2.scss" />
    <link rel="stylesheet" href="~/scss/theme-3.scss" />
    <link rel="stylesheet" href="~/scss/theme-4.scss" />
    <link rel="stylesheet" href="~/scss/theme-5.scss" />
    <link rel="stylesheet" href="~/scss/theme-6.scss" />
    <link rel="stylesheet" href="~/scss/theme-7.scss" />
    <link rel="stylesheet" href="~/scss/theme-8.scss" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />




    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <body>
        <header class="container-fluid">
            <div class="container">
                <div class="row top-row">
                    <div class="col-md-4 logo">

                        <img src="~/assets/images/logo.jpg" style="width:100px ; height:100px ;margin-left:-150px; margin-top: -10px;" alt="">
                        <h5 style="margin-left: -50px ; margin-top: -50px ;">مستشفى بني سويف الجامعي</h5>
                        <a data-toggle="collapse" data-target="#menu-jk" href="#menu-jk"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div class="col-md-8 navse">
                        <div class="row">
                            <div class="col-lg-4 d-none d-lg-block cinfo">
                                <div class="cdetl">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="detail">
                                        <b>الموقع</b>
                                        <p>شارع محمد حسن, الشاملة </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 d-none d-md-block cinfo">
                                <div class="cdetl">
                                    <div class="icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="detail">
                                        <b>البريد الإلكترونى</b>
                                        <p>BNShospital@support.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 d-none d-md-block cinfo">
                                <div class="cdetl">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="detail">
                                        <b>اتصل بنا </b>
                                        <p>+11 7200 20 40 30</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="menu-jk" class="nav-sectionmk  row">
                    <ul>
                        <li><a href='@Url.Action("Index","BloodNeeds")'>الصفحة الرئيسية</a></li>
                        <li><a href='@Url.Action("Index","Newsses")'>اخر الأخبار</a></li>
                        <li><a href='@Url.Action("Index","Articals")'>معلومات تهمك </a></li>
                        <li><a href='@Url.Action("Index","Care_Units")'>الرعايات</a></li>
                        <li><a href='@Url.Action("Index","Departments")'>الاقسام </a></li>


                    </ul>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <h2>ذات صلة</h2>
                        <ul class="list-unstyled link-list">
                            <li><a ui-sref="about" href="#/about">تواصل معنا</a><i class="fa fa-angle-right"></i></li>
                            <li><a ui-sref="portfolio" href="#/portfolio">الرعايات</a><i class="fa fa-angle-right"></i></li>
                            <li><a ui-sref="products" href="#/products">الاقسام الداخلية</a><i class="fa fa-angle-right"></i></li>
                            <li><a ui-sref="gallery" href='@Url.Action("Index","Newsses")'>اخر الاخبار</a><i class="fa fa-angle-right"></i></li>

                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 map-img">
                        <h2>تواصل معنا</h2>
                        <address class="md-margin-bottom-40">
                            شارع محمد حسن  <br>
                            الشاملة <br>
                            بني سويف <br>
                            Phone: +44 9159669599 <br>
                            Email: <a href="mailto:info@anybiz.com" class="">BNShospital@support.com</a><br>
                            Web: <a href="smart-eye.html" class="">www.BNShospital.in</a>
                        </address>

                    </div>
                </div>
            </div>


        </footer>
        <div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by A,H&M</a>

                <span>
                    <a><i class="fab fa-github"></i></a>
                    <a><i class="fab fa-google-plus-g"></i></a>
                    <a><i class="fab fa-pinterest-p"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-facebook-f"></i></a>
                </span>
            </div>

        </div>

    </body>



    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="~/assets/plugins/slider/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/script.js"></script>

</html>
